@page "/"
@using HeatSheetHelperBlazor.Models
@using HeatSheetHelper.Helpers

<PageTitle>Main Page</PageTitle>

<h3>Heat Sheet Helper</h3>

<div class="grid" style="display: grid; grid-template-rows: 35px auto auto auto 1fr auto; padding: 3px;">
    <!-- Button -->
    <button class="button-style" @onclick="OnPDFPickClicked" style="max-width: 170px; align-self: center;">
        Choose a Heat Sheet
    </button>

    @if (swimMeet != null)
    {
        <!-- Picker -->
        <select @onchange="SwimmerPicker_SelectedIndexChanged">
            <option value="">Select a swimmer</option>
            @foreach (var swimmer in swimmerNameList)
            {
                <option value="@swimmer">@swimmer</option>
            }
        </select>
    }

    @if (swimMeet != null)
    {
        <div class="heats-grid">
            <h4>Heats for @SelectedSwimmer</h4>
            <table>
                <thead>
                    <tr>
                        <th>E</th>
                        <th>H</th>
                        <th>L</th>
                        <th>Event Name</th>
                            <th width="95">Start Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var heat in swimmerHeats)
                    {
                        <tr>
                            <td>@heat.EventNumber</td>
                            <td>@(heat.HeatNumber == 100 ? "Sign-in Event" : heat.HeatNumber.ToString())</td>
                            <td>@heat.LaneNumber</td>
                            <td>@heat.EventName</td>
                            <td>@heat.StartTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div></div>
    }
</div>
