@page "/"
@using HeatSheetHelperBlazor.Models
@using HeatSheetHelper.Helpers

<PageTitle>Heat Sheet Helper</PageTitle>

<h3>Heat Sheet Helper</h3>

<div class="grid" style="display: grid; grid-template-rows: 35px auto auto auto 1fr auto; padding: 3px;">
    <!-- Button -->
    <button class="button-style" @onclick="OnPDFPickClicked" style="max-width: 170px; align-self: center;">
        Choose a Heat Sheet
    </button>

    @if (MeetDataService.SwimMeet.SwimEvents.Count > 0)
    {
        <!-- TextBox -->
        <input type="text"
               placeholder="Type to filter swimmers..."
               @bind="SwimmerListService.SwimmerFilter"
               @bind:event="oninput"
               style="margin-bottom: 8px; width: 100%; max-width: 300px;" />

        <!-- Picker -->
        <select @onchange="SwimmerPicker_SelectedIndexChanged" value="@SwimmerListService.SelectedSwimmer">
            <option value="">Select a swimmer</option>
            @foreach (var swimmer in SwimmerListService.FilteredSwimmerNames)
            {
                <option value="@swimmer">@swimmer</option>
            }
        </select>
    }

    @if (MeetDataService.SwimMeet.SwimEvents.Count > 0)
    {
        <div class="heats-grid">
            <h4>Heats for @SelectedSwimmer</h4>
            <table>
                <thead>
                    <tr>
                        <th>E</th>
                        <th>H</th>
                        <th>L</th>
                        <th>Event Name</th>
                            <th width="95">Start Time</th>
                            <th>Seed Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var heat in swimmerHeats)
                    {
                        <tr>
                            <td>@heat.EventNumber</td>
                            <td>@(heat.HeatNumber == 100 ? "Sign-in Event" : heat.HeatNumber.ToString())</td>
                            <td>@heat.LaneNumber</td>
                            <td>@heat.EventName</td>
                            <td>@heat.StartTime</td>
                            <td>@heat.SeedTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div></div>
    }
</div>
