@page "/"
@using HeatSheetHelperBlazor.Models
@using HeatSheetHelper.Helpers

<PageTitle>Heat Sheet Helper</PageTitle>

<h3>Heat Sheet Helper</h3>

<div class="grid" style="display: grid; padding: 3px;">

    @if (MeetDataService.SwimMeet.SwimEvents.Count > 0)
    {
        <!-- TextBox -->
        <input type="text"
        placeholder="Type to filter swimmers..."
        @bind="SwimmerListService.SwimmerFilter"
        @bind:event="oninput"
        style="margin-bottom: 8px; width: 100%; max-width: 300px;" />

        <!-- Multi-select checkboxes -->
        <div style="max-height: 100px; overflow-y: auto; border: 1px solid #ccc; padding: 4px; margin-bottom: 8px;">
            @foreach (var swimmer in SwimmerListService.FilteredSwimmerNames)
            {
                <label style="display: block;">
                    <input type="checkbox"
                    checked="@SwimmerListService.SelectedSwimmers.Contains(swimmer)"
                    @onchange="() => ToggleSwimmer(swimmer)" />
                    @swimmer
                </label>
            }
        </div>
    }

    @if (MeetDataService.SwimMeet.SwimEvents.Count > 0)
    {
        <div class="heats-grid">
            <h4>Heats for @string.Join(", ", SwimmerListService.SelectedSwimmers)</h4>
            <table>
                <thead>
                    <tr>
                        <th>E</th>
                        <th>H</th>
                        <th>L</th>
                        <th>Event@("\n")Swimmer Name</th>
                        <th>Start Time@("\n")Seed Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var heat in swimmerHeats)
                    {
                        <tr>
                            <td>@heat.EventNumber</td>
                            <td>@(heat.HeatNumber == 100 ? "Sign-in Event" : heat.HeatNumber.ToString())</td>
                            <td>@heat.LaneNumber</td>
                            <td>@heat.EventName@("\n")<strong>@heat.SwimmerName</strong></td>
                            <td>@heat.StartTime@("\n")<strong>@heat.SeedTime</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div></div>
    }
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 24px; margin-bottom: 24px;">
    <button class="button-style" @onclick="OnPDFPickClicked" style="max-width: 170px;">
        @(MeetDataService.SwimMeet.SwimEvents.Count == 0
        ? "Choose a Heat Sheet"
        : "Choose a different Heat Sheet")
    </button>
</div>
